secret.keys
spotify/__pycache__/
.cache
downloader/__pycache__/data.cpython-310.pyc
downloader/__pycache__/download.cpython-310.pyc
downloader/__pycache__/playlist.cpython-310.pyc
downloader/__pycache__/main.cpython-39.pyc
downloader/Playlist Downloader.lnk
